@import '../../index.scss';

.main_container {
  background-image: url('../../../public/Assets/dolphinbg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media('tablet') {
    height: auto;
  }
  @include media('mobile') {
    height: auto;
  }

  .div {
    width: 100%;

    .heading_container {
      h1 {
        color: white;
        font-weight: 250;
        line-height: 115.5%;
        word-spacing: -15px;
        font-size: 54px;
        margin-left: 8rem;
        margin-bottom: 0.6rem;
        @include media('tablet') {
          padding-top: 3.5rem;
          font-size: 54px;
          margin-left: 6rem;
        }
        @include media('mobile') {
          padding-top: 2.5rem;
          font-size: 36px;
          margin-left: 0rem;
          display: flex;
          justify-content: center;
        }
        span {
          font-weight: 600;
        }
      }
      img {
        width: 18%;
        margin-bottom: 4rem;
        @include media('tablet') {
          width: 28%;
          margin-bottom: 4rem;
        }
        @include media('mobile') {
          width: 80%;
          display: flex;
          margin: auto;
          margin-bottom: 2rem;
        }
      }
    }

    .roadmap_container {
      display: flex;
      padding: 20px;
      @include media('tablet') {
        flex-direction: column;
      }
      @include media('mobile') {
        flex-direction: column;
      }
      .roadmapOne_container {
        // margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        width: 100%;
        @include media('tablet') {
          flex-direction: column;
        }
        @include media('mobile') {
          flex-direction: column;
        }

        .drop_container {
          margin: 0rem 2rem;
          .container {
            background-color: white;
            display: block;
            justify-content: center;
            align-items: center;
            margin: auto;
            text-align: center;
            padding: 1rem;
            width: 10.5rem;
            height: 9rem;
            border-radius: 8px;
            transform: translateY(60px);
            border: 2px solid rgb(196, 140, 207);
            @include media('tablet') {
              transform: translateY(0px);
              width: 12rem;
              height: 10rem;
            }
            @include media('mobile') {
              width: 11.5rem;
              height: 9.5rem;
            }

            img {
              width: 3rem;
              margin-bottom: 1rem;
            }
            p {
              color: black;
              margin-bottom: 0rem;
              font-size: 14px;
              line-height: 18px;
              font-family: Lexend;
              font-weight: 600;
            }
          }
          .dotted_line {
            display: flex;
            margin: auto;
            width: 1.4rem;
          }
        }
      }
    }
    .underline_container {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        position: relative;
        top: -34px;
      }
    }
  }
}
