@import "../../index.scss";

.right {
  padding-right: 30rem;
  @include media("tablet") {
    padding-right: 0rem;
  }
  @include media("mobile") {
    padding-right: 2rem;
  }
}

.left {
  padding-left: 30rem;
  @include media("tablet") {
    padding-left: 0rem;
  }
  @include media("mobile") {
    padding-left: 2rem;
  }
}

.cards {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  padding: 2rem;
  .cardsImg:hover .buttons {
    display: flex !important;
    transition: all 1s ease-in-out;
  }
  .cardsImg {
    position: relative;
    .desktopImg {
      height: 100%;
      border: 2px solid #ffffff;
      border-radius: 20px;
      display: block;
      opacity: 1;
      @include media("tablet") {
        width: 100%;
      }
      @include media("mobile") {
        display: none;
      }
    }
    .mobileImg {
      display: none;
      @include media("mobile") {
        display: block;
        width: 317.57px;
      }
    }
    .cardsArea {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 2rem;
      padding: 0 3rem;
      @include media("mobile") {
        padding: 0 1rem;
        bottom: 1rem;
      }

      .buttons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
        padding: 2rem 0.5rem 0 0.5rem;
        @include media("mobile") {
          padding: 0.5rem 0.5rem 0 0.5rem;
        }
        a {
          color: #ffffff;
          font-family: Lexend;
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          line-height: 11.87px;
          font-family: "Lexend", sans-serif;
          text-decoration: none;
          img {
            position: relative;
            width: 2rem;
            right: 0.5rem;
          }
        }
      }

      .cardsInfo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        h3 {
          font-family: Sora;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 1px;
          display: flex;
          align-items: center;
          color: #ffffff;

          @include media("mobile") {
            font-size: 18px;
          }
        }
        p {
          position: relative;
          bottom: 1.3rem;
          span {
            font-family: Lexend;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            color: #ffffff;
          }
          img {
            width: 41px;
            height: 45px;
            position: relative;
            bottom: 5px;
          }
        }
      }
    }
  }
}
