@import '../../index.scss';

.right {
  padding-right: 30rem;
  @include media('tablet') {
    padding-right: 0rem;
  }
  @include media('mobile') {
    padding-right: 2rem;
  }
}

.left {
  padding-left: 30rem;
  @include media('tablet') {
    padding-left: 0rem;
  }
  @include media('mobile') {
    padding-left: 2rem;
  }
}

.cards {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  padding: 2rem;
  .cardsImg:hover .buttons {
    display: flex !important;
    transition: all 1s ease-in-out;
  }

  .cardsImg:hover {
    box-shadow: 0px 18px 47px 20px rgba(117, 152, 236, 0.67);
    -webkit-box-shadow: 0px 18px 47px 20px rgba(117, 152, 236, 0.67);
    -moz-box-shadow: 0px 18px 47px 20px rgba(117, 152, 236, 0.67);
    border: none;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(117, 152, 236, 0.67) 65%,
      rgba(117, 152, 236, 0.67) 100%
    );
  }

  .cardsImg {
    position: relative;
    .desktopImg {
      height: 100%;
      border: transparent;
      display: block;
      opacity: 1;
      @include media('tablet') {
        width: 100%;
      }
      @include media('mobile') {
        display: none;
      }
    }
    .mobileImg {
      display: none;
      @include media('mobile') {
        display: block;
        width: 317.57px;
      }
    }
    .cards_area_single_link {
      display: flex;
      align-items: baseline;
    }
    .cardsArea {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 2rem;
      padding: 0 3rem;
      @include media('mobile') {
        padding: 0 1rem;
        bottom: 1rem;
      }

      .buttons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
        padding: 2rem 0.5rem 0 0.5rem;
        @include media('mobile') {
          padding: 0rem;
          padding-top: 0.5rem;
        }
        a {
          color: #ffffff;
          font-family: Lexend;
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          line-height: 11.87px;
          font-family: 'Lexend', sans-serif;
          text-decoration: none;
          @include media('mobile') {
            font-size: 16px;
            white-space: nowrap;
          }
          button {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            margin: 0rem 1rem;
            border: none;
            background-color: #fca9c7;
            @include media('mobile') {
              height: 1.5rem;
              width: 1.5rem;
              margin: 0rem 0.5rem;
            }
            svg {
              width: 1rem;
              display: flex;
              align-items: center;
              margin: auto;
              @include media('mobile') {
                width: 0.8rem;
              }
              path {
                fill: $white;
              }
            }
          }
        }
        .single_btn {
          button {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            margin: 0rem 1rem;
            border: none;
            background-color: #fca9c7;
            @include media('mobile') {
              height: 2.4rem;
              width: 2.4rem;
              margin: 0rem 0.5rem;
            }
            svg {
              width: 2rem;
              display: flex;
              align-items: center;
              margin: auto;
              @include media('mobile') {
                width: 1.2rem;
              }
              path {
                fill: $white;
              }
            }
          }
        }
      }

      .cardsInfo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        h3 {
          font-family: Sora;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 1px;
          display: flex;
          align-items: center;
          color: #ffffff;
          white-space: nowrap;

          @include media('mobile') {
            font-size: 18px;
          }
        }
        p {
          position: relative;
          bottom: 1.3rem;
          span {
            font-family: Lexend;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            color: #ffffff;
          }
          img {
            width: 41px;
            height: 45px;
            position: relative;
            bottom: 5px;
          }
        }
      }
    }
  }
}
