.buttons {
  display: none !important;
  transition: all 1s ease-in-out !important;
}

.positionEnd{
  justify-content: end !important;
}


@media only screen and (max-width: 767px) {
  .buttons {
    display: flex !important;
  }
}
