.buttons {
  display: none !important;
  transition: all 1s ease-in-out;
}

.cards:hover .buttons {
  display: flex !important;
  transition: all 1s ease-in-out;
}

@media only screen and (max-width: 767px) {
  .buttons {
    display: flex !important;
  }
}
