@import '../../index.scss';

.main_cards {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background-image: url('../../../public/Assets/rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  @include media('mobile') {
    background-image: url('../../../public/Assets/rectangle-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0rem;
    width: 100%;
    height: auto;
    background-attachment: fixed;
  }
  .innerDiv {
    background: rgba(241, 241, 241, 0.25);
    backdrop-filter: blur(81px);
    padding: 4rem 0rem;
    @include media('mobile') {
      background: rgba(255, 255, 255, 0.247);
      backdrop-filter: blur(20px);
      padding: 2rem 0rem;
    }
  }
}
