@import '../../index.scss';

.main_intro {
  width: 100%;
  height: auto;
  background-image: url('../../../public/Assets/wrw11.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  @include media('mobile') {
    background-image: url('../../../public/Assets/wrw1mobile.png');
    height: auto;
    width: 100%;
  }
  .topPic {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    .desktop {
      display: block;
      width: 839px;
      height: 347px;
      @include media('mobile') {
        display: none;
      }
    }
    .mobile {
      display: none;
      @include media('mobile') {
        display: block;
        width: 316px;
        height: 131px;
      }
    }
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 15rem;
    text-align: center;
    padding-top: 2rem;
    @include media('mobile') {
      padding: 0 1rem;
      padding-bottom: 4rem;
    }
    p {
      font-family: Lexend;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;

      @include media('mobile') {
        font-size: 16px;
      }
    }
    span {
      font-family: Lexend;
      font-style: normal;
      font-weight: 600;
      background: -webkit-linear-gradient(#d789eb, #e491c1, #ffcdea);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .intro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    @include media('mobile') {
      padding-top: 4rem;
    }
    p {
      font-family: COCOGOOSE;
      font-style: normal;
      font-weight: lighter;
      font-size: 64px;
      line-height: 115.5%;
      color: #ffcdea;
      margin-bottom: 0rem;
      @include media('mobile') {
        font-size: 44px;
        margin-bottom: 0rem;
      }
      span {
        font-weight: bold;
        color: #ffcdea;
      }
    }
  }
  .linediv {
    padding-left: 10rem;
    width: 100%;
    @include media('mobile') {
      padding-left: 1rem;
      margin-bottom: 1.5rem;

      img {
        width: 50%;
      }
    }
  }
}
